@font-face{
    font-family: strich;
    src: url("fonts/emmasophia.ttf");
}
@font-face{
    font-family: berlin-sans;
    src: url("fonts/berlin-sans.ttf");
}
.navbar #logo{
    font-size: 30px;
    color: honeydew;
    font-family: 'strich', monospace, 'Courier New', Courier;
    top: 150px;
    left: 30px;
    transform: translate(0,-50%);
    position: absolute;
}
.navbar #menu{
    font-size: 90px;
    color: honeydew;
    top: 150px;
    right: 50px;
    transform: translate(0,-50%);
    position: absolute;
}
.home{
    background: linear-gradient(to bottom left, #ff4854, #BE242F) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.home img{
    font-size: 130px;
    width: 70%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: berlin-sans, monospace, 'Courier New', Courier;
    text-align: center;
    text-shadow: 20px 20px 30px black;
    color: honeydew;
}
.infos{
    box-shadow: 0 -30px 150px #E40513;
    height: 2000px;
    width: 100%;
    background-color: #E40513;
}
.home #info{
    position: absolute;
    height: 300px;
    width: 60%;
    transform: translate(-50%);
    left: 50%;
    bottom: 0;
}.home #info p{
    text-shadow: 20px 20px 15px black;
    color: honeydew;
    font-size: 60px;
    text-align: center;
    font-family: berlin-sans, monospace, 'Courier New', Courier;
    text-shadow: 20px 20px 15px black;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}.home #info i{
    text-shadow: 20px 20px 15px black;
    color: honeydew;
    font-size: 120px;
    text-align: center;
    width: 100%;
}
.infos #title1{
    padding-top: 60px;
}
.infos h2{
    color: honeydew;
    font-size: 60px;
    font-family: berlin-sans, monospace, 'Courier New', Courier;
    text-shadow: 10px 10px 15px black;
    width: 90%;
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
}.infos p{
    padding-left: 20px;
    color: honeydew;
    font-size: 40px;
    font-family: berlin-sans, monospace, 'Courier New', Courier;
    width: 90%;
}.infos a{
    text-decoration: none;
    border: honeydew solid 7px;
    border-radius: 20px;
    padding: 30px 70px;
    color: honeydew;
    font-size: 40px;
    font-family: berlin-sans, monospace, 'Courier New', Courier;
    width: 90%;
}.infos #poll{
    margin-left: 15px;
    margin-top: 20px;
}.infos img{
    border: black solid 5px;
    margin-left: 20px;
    margin-top: 40px;
}

.footer{
    border-top: white solid 4px;
}
.footer i{
    font-size: 5rem;
    text-align: center;
    color: honeydew;
}.footer #space{
    padding-right: 40px;
}